@import "../../Style/mixins/center"
@import "../../Style/mixins/_variables.sass"
@import '../../Style/mixins/_breakpoints.sass'

@include breakpoint(default)
  .Login
    margin: 40px 10px 0 10px
    background: #fcfcfc
    @include FlexCenter
    flex-direction: column
    border-radius: 14px
    max-width: 95%

  .Login .Header
    padding: 15px 0 15px 0

  .SnackbarWrapper
    @include FlexCenter
    width: 100%

@include breakpoint(mobile)
  .Login
    margin: 40px 0 0 0
    background: #ffffff
    @include FlexCenter
    max-width: 100%
    padding: 15px
    flex-direction: column